<p>Olá {{ nome }},</p>
<p>Por favor dar clique no botão/link abaixo para activação da sua conta</p>
<p><b>Token:</b> {{ token }}</p>
<p><b>Expires in:</b> {{ expiresIn }}</p>
<p>
  <a href="{{ url }}">Activar</a>
</p>

<p>Si não criaste nenhuma conta recentemente, por favor ignorar este email.</p>